.audio-player {
  width: 100%;
  min-height: 100vh;
}

.audio-player.enabled-library {
  margin-left: 30rem;
  transition: all 0.5s ease;
}

.audio-player.disabled-library {
  transition: all 0.5s ease;
}
