.current-song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 5rem;
}

.current-song-container img {
  width: 25%;
  border-radius: 50%;
  margin-bottom: 3rem;
}
.current-song-container h4 {
  font-size: 3rem;
  color: rgb(147, 153, 152);
}

.current-song-container h5 {
  color: rgb(94, 122, 118);
}

@media screen and (max-width: 700px) {
  .current-song-container img {
    width: 50%;
  }
}

.image-spinning {
  -webkit-animation: spin 50s linear infinite;
  -moz-animation: spin 50s linear infinite;
  animation: spin 50s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
