.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.nav h1 {
  font-size: 2.5rem;
}

.nav button {
  padding: 1rem;
  background-color: transparent;
  outline: none;
  border: 2px solid black;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 5px black;
  z-index: 15;
}

.nav button:hover {
  color: #fff;
  background-color: rgb(31, 29, 29);
  transform: translateY(-2px);
  box-shadow: 1px 1px 20px black;
}

.nav button:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 5px black;
}
